date-input-polyfill {
    background: #fff;
    color: #000;
    text-shadow: none;
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    line-height: normal;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute !important;
    text-align: center;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.22);
    cursor: default;
    z-index: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    display: block;
}
date-input-polyfill[data-open="false"] {
    visibility: hidden;
    z-index: -100 !important;
    top: 0;
}
date-input-polyfill[data-open="true"] {
    visibility: visible;
}
date-input-polyfill select, date-input-polyfill table, date-input-polyfill th, date-input-polyfill td {
    background: #fff;
    color: #000;
    text-shadow: none;
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    line-height: normal;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: none;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}
date-input-polyfill select, date-input-polyfill button {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #dadfe1;
    height: 24px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
}
date-input-polyfill .monthSelect-wrapper {
    width: 55%;
    display: inline-block;
}
date-input-polyfill .yearSelect-wrapper {
    width: 25%;
    display: inline-block;
}
date-input-polyfill select {
    width: 100%;
}
date-input-polyfill select:first-of-type {
    border-right: 1px solid #dadfe1;
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}
date-input-polyfill button {
    width: 20%;
    background: #dadfe1;
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}
date-input-polyfill button:hover {
    background: #eee;
}
date-input-polyfill table {
    border-collapse: separate !important;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    overflow: hidden;
    max-width: 280px;
    width: 280px;
}
date-input-polyfill th, date-input-polyfill td {
    width: 32px;
    padding: 4px;
    text-align: center;
    box-sizing: content-box;
}
date-input-polyfill td[data-day] {
    cursor: pointer;
}
date-input-polyfill td[data-day]:hover {
    background: #dadfe1;
}
date-input-polyfill [data-selected] {
    font-weight: bold;
    background: #d8eaf6;
}
