.auth.row {
  max-width: 600px;
}
@media (max-width: 576px) {
  .auth .display-4 {
    font-size: 2.5rem;
  }
}
#tan::-webkit-outer-spin-button,
#tan::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#tan[type="number"] {
  -moz-appearance: textfield;
}
nav.navbar .input-group input {
  border-color: #6c757d;
}
.route-schedule h4 small {
  font-size: 61.8%;
}
.route-schedule .col h5 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: .2rem;
}
.route-schedule h5 small {
  font-size: 70%;
}
.route-schedule .col h5:first-child {
  margin-top: 0;
  margin-bottom: .5rem;
}
.route-schedule .col h5:nth-child(2) {
  margin-top: 1rem;
}
.route-schedule .list-group-item {
  font-size: 100%;
  border-color: rgba(0, 0, 0, 0.5);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.route-schedule .list-group-item i {
  font-size: 120%;
  margin-left: 5px;
  margin-right: -4px;
}
.route-schedule .list-group-item .remarks {
  font-size: 75%;
  line-height: 1.3em;
}
.route-schedule .list-group-item .remarks i {
  margin-left: 0;
  margin-right: 4px;
}
.route-schedule .list-group-item .duration {
  line-height: 1;
  float: right;
}
.route-schedule .tab-content > .tab-pane > .row {
  margin-left: -8px;
  margin-right: -8px;
}
.route-schedule .tab-content > .tab-pane > .row > .col {
  padding-left: 8px;
  padding-right: 8px;
}
#loadingSpinner {
  height: 70vh;
}
#loadingSpinner .spinner-border {
  width: 3rem;
  height: 3rem;
}

/* Theme */
a {
  color: #f4436d;
}
a:hover {
  color: #c93859;
}
a:active {
  color: #b63251;
}
.btn-primary {
  background-color: #f4436d;
  border-color: #f4436d;
}
.btn-primary:hover {
  background-color: #c93859;
  border-color: #c93859;
}
.btn-primary:not(.disabled):not(:disabled):active {
  background-color: #b63251;
  border-color: #b63251;
}
.btn-outline-secondary {
  color: #f4436d;
  border-color: #f4436d;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:not(.disabled):not(:disabled):active {
  color: #fff;
  background-color: #f4436d;
  border-color: #f4436d;
}
.form-control {
  border-color: #f4436d;
}
.form-control:focus {
  border-color: #f4436d;
  box-shadow: 0 1px 1px rgba(244, 67, 109, 0.075) inset,
    0 0 8px rgba(244, 67, 109, 0.6);
  outline: 0 none;
}
.jumbotron {
  background-color: #f9f6f6 !important;
  border-radius: 1rem;
}
.bg-light {
  background-color: #f9f6f6 !important;
}
.display-4 {
  color: #f4436d;
}
.navbar {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.navbar-brand {
  color: #f4436d;
}
nav.navbar .input-group input {
  border-color: #f4436d;
}
#loadingSpinner {
  color: #f4436d !important;
}
.border-top,
.nav-tabs {
  border-color: #f4436c5b !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #f4436c5b #f4436c5b #fff;
}
.nav-tabs .nav-link:not(.active):focus,
.nav-tabs .nav-link:not(.active):hover {
  border-color: #f4436c33 #f4436c33 #f4436c5b;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

@-webkit-keyframes flower {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
  }
}
@-moz-keyframes flower {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
  }
}
@-o-keyframes flower {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
  }
}
@keyframes flower {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    -webkit-box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
    box-shadow: white 0 0 15px 0, #f4436d 18px 18px 0 6px,
      #f4436d -18px 18px 0 6px, #f4436d -18px -18px 0 6px,
      #f4436d 18px -18px 0 6px;
  }
}

/* Styles for old versions of IE */
.flower {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.flower:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #f9f6f6;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
    #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px, #f4436d -18px 18px 0 6px;
  -webkit-box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
    #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px, #f4436d -18px 18px 0 6px;
  box-shadow: white 0 0 15px 0, #f4436d -18px -18px 0 6px,
    #f4436d 18px -18px 0 6px, #f4436d 18px 18px 0 6px, #f4436d -18px 18px 0 6px;
  -webkit-animation: flower 5s infinite ease-in-out;
  -khtml-animation: flower 5s infinite ease-in-out;
  -moz-animation: flower 5s infinite ease-in-out;
  -ms-animation: flower 5s infinite ease-in-out;
  -o-animation: flower 5s infinite ease-in-out;
  animation: flower 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* Print Styles */

@media print {
  .nav-tabs {
    border-bottom-style: none;
    margin-top: 0;
  }
  .nav-link.active {
    border-style: none;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .nav-link:not(.active) {
    display: none !important;
  }
  .route-schedule {
    margin: 0;
  }
  .route-schedule > .col {
    padding: 0;
  }
  footer.footer {
    display: none !important;
  }
  html.h-100,
  body.h-100 {
    height: inherit !important;
  }
  .print-fontsize-xl {
    font-size: 130%;
  }
  .print-fontsize-l {
    font-size: 115%;
  }
  .print-fontsize-s {
    font-size: 85%;
  }
  .route-schedule .print-fontsize-s .list-group-item {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  .print-fontsize-xs {
    font-size: 80%;
  }
  .route-schedule .print-fontsize-xs .list-group-item {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
  }
}
